.PokeList {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 95%;

    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
}

.PokeList > div {
    background-color: #f2f2f2;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}